@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

$primary-color: #550000;
$secondary-color: #ffffff;

$bgspan1: #4fc3dc;
$bgspan2: #ff2d75;
$bgspan3: #ff8c42;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inder', sans-serif;
  background-color: #dbdbdb;
  width: 100vw;
  height: 400vh;
  overflow-x: hidden;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button($color, $bg) {
  color: $color;
  background-color: $bg-color;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: 0px;
  background-color: transparent;
  color: $secondary-color;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 0 1rem;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-links{
    display: flex;

    .nav-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      list-style: none;
      margin-left: 1rem;
      padding-right: 22px;
      cursor: pointer;
    }

    li:hover {
      color: $secondary-color;
    }
  }

  .nav-logo {
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    color: $secondary-color;
  }

  .nav-logo:hover {
    color: lighten($secondary-color, 10%);
  }
}

.border-bottom {
  position: absolute;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: $secondary-color;
  transition: all 0.3s ease-in-out;
}

.home-div{
  height: 100vh;
  width: 100%;
  background-color: $primary-color;

  .home-about {
    position: absolute;
    top: 20vh;
    left: 15vw;
    width: 300px;
    height: 200px;
    padding: 2rem 1rem;
    margin: 2rem 0;
    background-color: $secondary-color;
    box-shadow: -1px 6px 7px rgba(0, 0, 0, 0.2);

    h1 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
      text-align: center;
    }

    .home-text {
      background-color: $primary-color;
      color: $secondary-color;
      position: absolute;
      padding: 20px;
      top: 33%;
      left: 0%;
      box-shadow: -1px 6px 7px rgba(0, 0, 0, 0.2);

      h3 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      .home-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        width: 80px;

        .home-icon {
          color: $secondary-color;
          font-size: 1.2rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          z-index: 3;
        }

        .white {
          position: absolute;
          background-color: $secondary-color;
          width: 30px;
          height: 30px;
          z-index: 0;
        }

        .white.circle {
          border-radius: 50%;
          position: absolute;
          left: 70px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}


/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(76, 76, 76)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #979797;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6;
}

.background-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vh;
  background-color: #0c192c;
  position: relative;
  overflow: hidden;

  .bubbles {
    position: relative;
    display: flex;

    span {
      position: relative;
      width: 30px;
      height: 30px;
      background-color: $bgspan1;
      margin: 0 4px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px #4fc3dc44,
      0 0 50px $bgspan1,
      0 0 100px $bgspan1;
      animation: animate 15s linear infinite;
      animation-duration:  calc(120s / var(--i));

      &:nth-child(even) {
        background-color: $bgspan2;
        box-shadow: 0 0 0 10px #ff2d7544,
        0 0 50px $bgspan2,
        0 0 100px $bgspan2;
      }
    }
    @keyframes animate {
      0% {
        transform: translateY(100vh) scale(0);
        opacity: 1;
      }
      100% {
        transform: translateY(-10vh) scale(1);
      }
    }
  }
}
