@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$primary-color: #3182CE;
$secondary-color: #ffffff;
$home-background: #010710;

$bgspan1: #4fc3dc;
$bgspan1Dark: darken($bgspan1, 44);
$bgspan2: #dc4f79;
$bgspan2Dark: darken($bgspan2, 44);
$bgspan3: #ff8c42;
$bgspan3Dark: darken($bgspan3, 44);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Code', 'Inder', sans-serif;
  background-color: $home-background;
  width: 100vw;
  height: 400vh;
  overflow-x: hidden;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button($color, $bg) {
  color: $color;
  background-color: $bg-color;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-conatiner {
  position: fixed;
  left: 50%;
  z-index: 100;
  width: 100vw;
  z-index: 99;
  transform: translateX(-50%);
  // darken backgri=ound
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px)
}

.nav-bar {
  // top: 0;
  margin: 0 auto;
  background-color: transparent;
  color: $secondary-color;
  // padding: 0 1rem;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 0 auto;

  .nav-links{
    display: flex;

    .nav-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      list-style: none;
      margin-left: 1rem;
      padding-right: 22px;
      cursor: pointer;
      font-weight: 600;
    }

    .light-mode-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      list-style: none;
      margin-left: 1rem;
      padding: 6px 12px;
      cursor: pointer;
      font-weight: 600;
      color: $secondary-color;
    }

    .light-mode-btn:hover {
      color: $home-background;
      border: 1px solid $secondary-color;
      background-color: $secondary-color;
    }

    li:hover {
      color: $primary-color;
    }

  }

  .nav-logo {
    cursor: pointer;
    font-size: 27px;
    font-weight: 600;
    color: $secondary-color;
  }

  .nav-logo:hover {
    color: $primary-color;
  }
}

.border-bottom {
  position: absolute;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: $secondary-color;
  transition: all 0.3s ease-in-out;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(76, 76, 76)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #979797;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6;
}

.background-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 400vh;
  min-width: 100vw;
  background-color: $home-background;
  z-index: -1;
  position: absolute;
  overflow: hidden;

  .bubbles {
    position: relative;
    display: flex;

    span {
      position: relative;
      width: 30px;
      height: 30px;
      background-color: $bgspan1;
      margin: 0 2px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px $bgspan1Dark,
      0 0 50px $bgspan1,
      0 0 100px $bgspan1;
      animation: animate 15s linear infinite;
      animation-duration:  calc(120s / var(--i));

      &:nth-child(even) {
        background-color: $bgspan2;
        box-shadow: 0 0 0 10px $bgspan2Dark,
        0 0 50px $bgspan2,
        0 0 100px $bgspan2;
      }

      &:nth-child(3n) {
        background-color: $bgspan2;
        box-shadow: 0 0 0 10px $bgspan2Dark,
        0 0 50px $bgspan2,
        0 0 100px $bgspan2;
        animation: animate2 25s linear infinite;
        animation-duration:  calc(120s / var(--i));
      }
    }
    @keyframes animate {
      0% {
        transform: translateY(400vh) scale(0.2);
        rotate: 0deg;
        opacity: 1;
      }
      100% {
        transform: translateY(-10vh) scale(1);
        rotate: 20deg;
      }
    }

    @keyframes animate2 {
      0% {
        transform: translateY(400vh) scale(0);
        rotate: 0deg;
        opacity: 1;
      }
      100% {
        transform: translateY(-10vh) scale(1);
        rotate: -20deg;
      }
    }
  }
}

.home-div {
  color: $secondary-color;

  p {
    color: $primary-color;
  }
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.tools-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
  color: $primary-color;

  &.top {
    top: -3vh;
  }

  &.bottom {
    bottom: 0vh;
  }
}

.skills-div {
  .card {
    padding: 1.5rem;
    width: 300px;

    h1 {
      color: $primary-color;
      font-size: 1.5rem;
    }

    div {
      margin-top: 30px;
      li {
        color: $secondary-color;
        font-size: 1.2rem;
        margin-bottom: 1.9rem;
        display: flex;
      }
    }
  }
}

.projects-div {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 100vh;
  margin-top: 10vh;

  .projects-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    position: relative;
    color: $primary-color;

    &.top {
      top: -5vh;
    }

    &.bottom {
      bottom: 0vh;
    }
  }

  .project-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    position: relative;
    color: $secondary-color;
  }

}
